﻿@import "breakpoint";
@import "compass";
@import "susy";

.table1{
  margin:left;
}


@media screen and (min-width: 200px) {
    .table1 {
      margin-top:0%;
      margin-left:23%;
    }
}
@media screen and (min-width: 1000px) {
    .table1 {
      margin-top:0%;
      margin-left:10%;
    }
}
@media screen and (min-width: 1160px) {
    .table1 {
      margin-top:0%;
      margin-left:20%;
    }
}
@media screen and (min-width: 1370px) {
    .table1 {
      margin-top:0%;
      margin-left:15%;
    }
}
@media screen and (min-width: 1690px) {
    .table1 {
      margin-top:0%;
      margin-left:10%;
    }
}
.table2{
  margin-top:100px;
}

@media screen and (min-width: 400px) {
    .table2 {
    margin-top:40px;
    }
}
@media screen and (min-width: 1000px) {
    .table2{
    margin-top:50px;
    }
}
@media screen and (min-width: 1160px) {
    .table2 {
    margin-top:60px;
    }
}
@media screen and (min-width: 1370px) {
    .table2 {
    margin-top:70px;
    }
}
@media screen and (min-width: 1690px) {
    .table2 {
      margin-top:80px;
    }
}
/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
    color: white;
}

/* - Internet Explorer 10–11
   - Internet Explorer Mobile 10-11 */
:-ms-input-placeholder {
    color: white;
 background: #333;
}

/* Edge (also supports ::-webkit-input-placeholder) */
::-ms-input-placeholder {
    color: white;
}
/*Стиль hr(линии под загаловками)*/
.hr {
    border: none;
    background-color: red;
    color: red;
    height: 2px;
   }

.videotrailer{
  margin-top: 150px;
  width: 1000px;
  height: 500px;
}

@media screen and (min-width: 400px) {
    .videotrailer {
      width: 1000px;
      height: 500px;
    }
}

/*Стиль text(пользовательское соглашение)*/
.B2textText1 {
font-family: Century Gothic;
font-size: 14px;
color: #ffffff;
float:left;
margin-bottom: 2.5%;
margin-top: 4.5%;
}
/*Стиль text(просмотр трейлера)*/
.wtchtrlr {
font-family: Century Gothic;
font-size: 17px;
color: #ffffff;
margin-top: 0.5%;
float:center;
}
/*Стиль text(именные таблички элементов управления)*/
.B2textText2 {
font-family: Century Gothic;
font-size: 16px;
color: #ffffff;
float:left;
margin-top: 5.5%;
}
/*Стиль text(начальная табличка для платформы)*/
.B2textText3 {
font-family: Century Gothic;
font-size: 16px;
color: #ffffff;
float:left;
margin-top: 14%;
}
/*Стиль input(поля для ввода личной информации)*/
.B2text {
font-size: 15px;
font-family: Century Gothic;
line-height:45px;
color: #ffffff;
background:rgba(30,2,2,0.7);
padding-left: 20px;
border: 2px solid #990000;
outline:none;
margin-top: 3%;
width:460px;
}
/*Стиль input(поля для ввода личной информации) при наведении курсора*/
.B2text:hover{
  border: 2px solid red;
}
.B2text:{
  border: 2px solid red;
}
.B2text:last-of-type{background:rgba(30,2,2,0.7);}
/*Стиль combobox(смена языков)*/
.SelBlock {
  float:left;
  margin-left: 3%;
  margin-top: 2%;
  width: 170px;
}
/*Стиль combobox(для всех остальных)*/
.SelBlock1 {
margin-top: 3%;
width: 98%;
}
/*Стиль combobox(смена месяца)*/
.MonthBlock {
float:left;
width: 43%;
}
/*Стиль combobox(смена года)*/
.YearBlock {
float:left;
margin-left: 5%;
width: 23%;
}
/*Стиль combobox(смена дня)*/
.DayBlock {
float:left;
margin-left: 5%;
width: 22%;
}
/*Стиль input(подтверждение соглашения пользователя)*/
.checkbox1 {
  float:left;
  outline:none;
  margin-right: 10px;
}
/*Стиль div(логотип игрового продукта)*/
.Logo {
  background: url(../img/Logo.png) no-repeat;
  width: 100%;
  height: 50%;
  background-position: 50% 15%;
  float:center;
}
/*Стиль div(кнопка Twitter в шапке сайта)*/
.DVD {
  margin-left: 20%;
  max-width: 100%;
}

@media screen and (min-width: 400px) {
    .DVD {
       max-width: 0%;
    }
}
@media screen and (min-width: 1024px) {
    .DVD {
      max-width: 40%;
    }
}
@media screen and (min-width: 1690px) {
    .DVD {
      max-width: 40%;
    }
}
/*Стиль div(кнопка Twitter в шапке сайта)*/
.TwitterImage {
  float:left;
  background: url(../img/Twitter.png) no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 50px;
  margin-top: 2%;
}
/*Стиль div(кнопка Twitter в шапке сайта) при наведении курсора*/
.TwitterImage:hover {
  background: url(../img/TwitterRed.png) no-repeat;
}
/*Стиль div(кнопка Facebook в шапке сайта)*/
.FacebookImage {
  float:left;
  background: url(../img/Facebook.png) no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 2%;
}
/*Стиль div(кнопка Facebook в шапке сайта) при наведении курсора*/
.FacebookImage:hover {
  background: url(../img/FacebookRed.png) no-repeat;
}
/*Стиль div(кнопка YouTube в шапке сайта)*/
.YouTubeImage {
  float:left;
  background: url(../img/YouTube.png) no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 2%;
}
/*Стиль div(кнопка YouTube в шапке сайта) при наведении курсора*/
.YouTubeImage:hover {
  background: url(../img/YouTubeRed.png) no-repeat;
}
/*Стиль div(кнопка Instagram в шапке сайта)*/
.InstagramImage {
  float:left;
  background: url(../img/Instagram.png) no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 30px;
  margin-top: 2%;
}
/*Стиль div(кнопка Instagram в шапке сайта) при наведении курсора*/
.InstagramImage:hover {
  background: url(../img/InstagramRed.png) no-repeat;
}

/*Стиль div(кнопка Instagram в шапке сайта)*/
.ExitTrailer {
  background: url(../img/Exit.png) no-repeat;
  width: 55px;
  height: 55px;
  margin-top: 2%;
  z-index: 999;
}
/*Стиль div(кнопка Instagram в шапке сайта) при наведении курсора*/
.ExitTrailer:hover {
  background: url(../img/ExitRed.png) no-repeat;
}

/*Стиль первой секции*/
.block1 {
	background: url(../img/background2.jpg) no-repeat center top;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background-size: cover;
}
/*Стиль третьей секции*/
.block2 {
	background: url(../img/background2.png) no-repeat center top;
  	left: 0;
  	position: absolute;
  	top: 0;
  	width: 100%;
  	height: 100%;
  	background-size: cover;
}
/*Стиль четвертой секции*/
.block3 {
  background: url(../img/background1.png) no-repeat center top;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

$susy: (
    gutter-position: inside
);

a.hideme {
  display: none;
}
/*Стиль input(кнопки в шапке сайта)*/
.buttonSend {
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1 ;
    border-color: #990000;
    border-style: solid;
    color: white;
    height: 50px;
    width: 230px;
    font-size: 18px;
    font-family: Century Gothic;
    float:right;
    margin-right: 50px;
    margin-top: 2%;
    outline:none;
}
/*Стиль input(кнопки в шапке сайта) при наведении курсора*/
.buttonSend:hover {
  background-color: #990000;
}
/*Стиль input(кнопки в шапке сайта) при нажатии*/
.buttonSend:active {
  background:red;
  border-color: red;
}
/*Стиль input(кнопка Get Update в четвертом блоке)*/
.buttonSend3 {
    background-color: #990000;
    border: 1 ;
    border-color: #990000;
    border-style: solid;
    color: white;
    height: 50px;
    width: 485px;
    font-size: 20px;
    margin-top: 2%;
    font-family: Century Gothic;
    float:left;
    outline:none;
}
/*Стиль input(кнопка Get Update в четвертом блоке) при наведении курсора*/
.buttonSend3:hover {
background:red;
border-color: red;
}
/*Стиль input(кнопка Get Update в четвертом блоке) при нажатии*/
.buttonSend3:active {
background-color: #990000;
border-color: #990000;
}
/*Стиль input(кнопка Pre-Order в третьем блоке)*/
.buttonSend4 {
    background-color: #990000;
    border: 1 ;
    border-color: #990000;
    border-style: solid;
    color: white;
    height: 50px;
    width: 415px;
    font-size: 20px;
    font-family: Century Gothic;
    float:left;
    outline:none;
    margin-top: 100px;
}
/*Стиль input(кнопка Pre-Order в третьем блоке) при наведении курсора*/
.buttonSend4:hover {
  background:red;
  border-color: red;
}
/*Стиль input(кнопка Pre-Order в третьем блоке) при нажатии*/
.buttonSend4:active {
  background-color: #990000;
  border-color: #990000;
}
/*Стиль nav(шапка сайта)*/
#menu {
  position: fixed;
  display: block;
  width: 100%;
  height: 210px;
  background: url(../img/Grad.png) repeat 0 0;
  top: 0;
  margin: 0;
  z-index: 9;
}
/*Стиль img(круг в первом блоке)*/
.img1 {
  z-index: 1;
  position:relative;
  left: 25px;
  top: 0px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 2s ease-in-out;
          transition:         transform 2s ease-in-out;
}
/*Стиль img(круг в первом блоке) при наведении курсора*/
.img1:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
/*Стиль img(треугольник в первом блоке)*/
.img2 {
  position:relative;
  left: -38px;
  top: -17px;
}
/*Стиль пятой секции*/
.padval {
  background: url(../img/background3.png) no-repeat center top;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.PrivatePolicy{
  margin-top: 15px;
  color:white;
  word-wrap: break-word;
  font-size:80%
}
/*Стиль div(логотип игрового продукта в подвале)*/
.SecondLogo {
  background: url(../img/Logo.png) no-repeat;
  width: 100%;
  height: 50%;
  background-position: 50% 90%;
  float:center;
}

.ThirdLogo{
  margin-top: 180px;
  color:white;
  word-wrap: break-word;
  overflow: hidden;
  box-sizing: inherit;
}

.menu-links {
  @include span(1 of 3);
  &:last-child {
    @include last;
  }
