/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative ;
  top:1%;
  cursor: pointer;
  font-family: Century Gothic;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 2px solid #990000;
  background:rgba(30,2,2,0.7);
  position: relative;
  border-radius: 0px;
  margin-top: 0%;
  padding-left: 10px;
  height:46px;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 3px 38px 0 10px;
  font-size: 15px;
  line-height: 38px;
  color: #ffffff;
  height: 38px;
}

.selectric .button {
  background: transparent;
  border-radius: 0px;
  display: block;
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 38px;
  height: 30px;
  color: #ffffff;
  text-align: center;
  font: 30px/30px a;
  *font: 38px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 0px solid transparent;
  border-top-color: #ffffff;
  border-bottom: #ffffff;
}

.selectric-focus .selectric {
  border-color: #8e0000;
}

.selectric-hover .selectric {
  border-color: red;
}

.selectric-hover .selectric .button {
  color: white;
}

.selectric-hover .selectric .button:after {
  border-top-color: rgba(30,2,2,0.7);
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  background: rgba(30,2,2,0.7);
}

.selectric-open .selectric-items {
  display: block;
  border-color: #990000;
  background: rgba(30,2,2,1);
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: #ffffff !important;
  border: #ffffff !important;
  *font: 0/0 a !important;
  background: #ffffff !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position:absolute;
  top: 100%;
  left: 0;
  background: transparent;
  border: 2px solid red;
  z-index: -1;
  outline:none;
  border-width: 2px 2px 2px 2px;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top:auto;
  bottom: 100%;
}

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 0px;
  min-height: 0px;
}

.selectric-items li {
  display: block;
  padding: 10px;
  border-top: 0px solid #3d0000;
  border-bottom: 1px solid transparent;
  color: #ffffff;
  cursor: pointer;
}

.selectric-items li.selected {
  background: transparent;
  color: #ffffff;
}

.selectric-items li.highlighted {
  background: transparent;
  color: #ffffff;
}

.selectric-items li:hover {
  background: #5d0000;
  color: white;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #ffffff !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}
